{% extends "blog.html" %}

{% block content %}
<div class="container" style="background-color:#F8F8FF">
    <div class="jumbotron jumbotron-fluid" style="background-image: none; background-color:transparent;">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-3">
                <img src=/static/images/headshot.jpg style="height:290px; width:200px;">
            </div>
            <div class="col-7 lead">
                Jonathan De Troye is a data scientist at <a href="https://echeloninsights.com">Echelon Insights.</a>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}