{% extends "blog.html" %}

{% block content %}
<div class="container" style="background-color:#F8F8FF">
    <div class="jumbotron jumbotron-fluid" style="background-image: none; background-color:transparent;">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-3">
                <img src=/static/images/headshot.jpg style="height:290px; width:200px;">
            </div>
            <div class="col-7 lead">
                <p>
                    Jonathan De Troye is a data scientist at <a href="https://echeloninsights.com">Echelon Insights.</a>
                Originally from Johnson City, Tennessee, Jonathan moved to Virginia to study economics and business analytics at Patrick Henry College, where he earned his BA. Before joining Echelon Insights, Jonathan worked in the marketing department of a non-profit organization where he used R to report performance metrics and study membership trends.
                </p>
            <p>
                At Echelon, Jonathan works with R to build tools that improve survey analysis workflows and generate insights more rapidly. He also enjoys working in the Python ecosystem because of its beautiful style and broad application.        
            </p>
            <p>
                In his free time, he enjoys craft coffee and classic fiction. His favorite authors include Leo Tolstoy and Fyodor Dostoyevsky, and his favorite coffee is Ethiopian Yirgacheffe.  </a>
            </p>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}