{% extends "blog.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron jumbotron-fluid" style="background-image: none; background-color:white">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-3">
                <img src=/images/headshot.jpg style="height:290px; width:200px;">
            </div>
            <div class="col-7 lead">
                Jonathan De Troye is a data scientist at Echelon Insights.
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}